---
all_files_path: "/data/t1_pre/rapno_t1ce_data_w_t2_over65ss_preprocessed-ex_wpreds"
model_predictions_path: "/data/t1_pre/for_predictions/subsets/uncertainity_dropout_var/"
export_path: "/data/t1_pre"
n_jobs: 16
file_names:
  image_names: ["t1_imagingVolume_RAI_RESAMPLED_REG_N4_SS_NORM.nii.gz", "T2WI_RAI_RESAMPLED_REG_N4_SS_NORM.nii.gz"]
  roi_name_in_organ_extraction: "t1_label_RAI_RESAMPLED_BINARY-label_inss.nii.gz"
  roi_name: "t1_label_RAI_RESAMPLED_BINARY-label.nii.gz"
  prediction_name: "tumor-pred-label.nii.gz"
  probability_map_name: "tumor-prob-mask.nii.gz"
  variance_array: "pred-variance.nii.gz"
train_dataset_percentage: 0.8
unique_id: uncertainity_dropout_var
random_seed: 0
active_learning_iteration: 0
initial_dataset_generator:
  backend: random #random, SIFT3D
  m: 40 #size of initial dataset
uncertainty:
  backend: [dropout] #None, bootstrapped, prob_roi, margin, dropout
  switch: [None] #the iteration at which to switch backend, length of switch and backend must match
  if_dropout: variance #variance, max_entropy
  variance_pixel_proportion: 0.001 
  K: 50 #number of uncertain data samples to collect
  parallel: True
representativeness: 
  backend: [None] #None, cosine_similarity
  switch: [None] #the iteration at which to switch backend
  k: 50 #number of representative samples to collect
pseudo_labels:
  incorporate: False
  uncertainty_threshold: 1
  decay_rate: 1
delete_other_iterations_when_creating_new: False